* {
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}
body {
  margin: 0;
  background: rgb(139, 197, 255);
  color: #020810;
  line-height: 1.85;
}

header {
  background: linear-gradient(180deg, rgb(86, 162, 244) 0%, #41a3ff 100%);
  padding: 50px 20px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 32px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #010a17;
  font-size: 24px;
}

p {
  font-weight: 700;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 16px;
}
.card {
  background: rgba(245, 245, 245, 0.85);
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 24px;
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
}

ul {
  font-weight: 700;
  font-size: 20px;
}
li {
  font-size: 16px;
  font-weight: 400;
}

.timeline {
  display: grid;
  gap: 14px;
}
.timeline-item {
  padding: 14px;
  border-right: 4px solid #091f32;
  background: rgba(78, 178, 255, 0.928);
  border-radius: 8px;
}
.badge {
  background: #1c536f;
  color: #eef7ff;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 13px;
  margin-left: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 14px;
  margin-top: 14px;
}
.gallery * {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
}
.gallery *:hover {
  transform: scale(1.04);
}

.article-img {
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
  padding: 25px;
  color: #13171c;
}

/* Lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.lightbox img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 10px;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  /* color: white; */
  background: #87b5ff;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

/* shared */
.left-align {
  text-align: left;
  padding-inline-end: 25%;
  margin-top: 0;
}
